.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
  border-bottom: 1px solid #e0e0e0;

  .logo-section {
    display: flex;
    align-items: center;
    gap: 10px;

    img {
      height: 30px;
    }
    span {
      font-size: 24px;
      font-weight: bold;
      color: #192f63;
    }
  }
}
