@use 'variables' as *;

@font-face {
  font-family: 'Open Sans';
  src: url('./assets/fonts/OpenSans-VariableFont_wdth,wght.ttf')
    format('truetype');
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('./assets/fonts/OpenSans-Italic-VariableFont_wdth,wght.ttf')
    format('truetype');
  font-weight: 100 900;
  font-style: italic;
}

* {
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
}

.text-bold {
  font-weight: 700;
}

.text-light {
  font-weight: 300;
}

.text-italic {
  font-style: italic;
}
